<!doctype html>
<head>
	<title>Search City</title>
</head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.active {
  background-color: #04AA6D;
}
ul {
  position: fixed;
  top: 0;
  width: 100%;
}

</style>
<body>
<img src="https://www.pngitem.com/pimgs/m/494-4946652_vacation-clipart-png-transparent-png.png" alt="vacay" style="width:850px;height:650px";>

    <h1>Welcome to yout Travel Planner App</h1>

	 <form method="post" enctype="multipart/form-data" action="/search">
	 	<label for="city">Please enter your destination: </label>
      <input type="text" name="city" /> 
      <input type="submit"/>
      <form action="action_page.php" method="post">
  <div class="imgcontainer">
  
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>

	 </form>
     
     
     <ul>
  <li><a href="#Friends">Friends</a></li>
  <li><a href="#Trip">Trip</a></li>
  <li><a href="#Weather">Weather</a></li>
  <li style="float:right"><a class="active" href="#Search">Search</a></li>
</ul>
    
</body>

</html> 



